/PE_Project/Unity/Packages
/PE_Project/Unity/ProjectSettings
/PE_Project/Unity/Library
/PE_Project/Unity/Logs
/PE_Project/Unity/.idea
/PE_Project/Unity/obj
/PE_Project/Unity/.vs
/PE_Project/Unity/Assets/Plugins
/PE_Project/Unity/Temp
